@media(max-width: 375px) {
    main {
        max-width: 270px;
    }
    h1 {
        font-size: 1.2em;
    }
}

@media(max-width: 325px) {
    main {
        max-width: 220px;
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media(max-width: 430px) {
    main {
        max-width: 270px;
    }   
}